<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.lesson04.mapper.UserMapper"> <!-- mapper에 있는 패키지 주소 + mapper이름-->
	<insert id="insertUser" parameterType="map"> <!-- id : mapper함수 이름 / 파람여러개라 map이므로 -->
		INSERT INTO `new_user`
		(	
			`name`,
			`yyyymmdd`,
			`email`,
			`introduce`,
			`createdAt`,
			`updatedAt`
		)
		VALUES
		(
			#{name}
			,#{yyyymmdd}
			,#{email}
			,#{introduce}
			,NOW()
			,NOW()
		)
	</insert>
	
	<select id="selectLatestUser" resultType="com.example.lesson04.domain.User">  
	<!-- 파라미터 타입 없으면 안쓴다. -->
		SELECT 
			`id`,
			`name`,
			`yyyymmdd`,
			`email`,
			`introduce`,
			`createdAt`,
			`updatedAt`
		FROM
			`new_user`	
		ORDER BY `id` DESC
		LIMIT 1  
	</select>
	
	<select id="isDuplicationByName" parameterType="string" resultType="boolean">
		SELECT
			COUNT(*)
		FROM
			`new_user`
		WHERE
			`name` = #{name}
	</select>
</mapper>